<footer>
  <div class="container">
    <ul class="footer-columns">
      <li class="about">
        <a href="{{ '/' | relative_url }}">
          <div class="company-name">
            {% include social-icon.html icon="SiteLogo" %}
            <br>
            <span>{{ site.storeName }}</span>
          </div>
          <p class="editable">{{ site.subtitle }}</p>
        </a>
      </li>

      <li class="footer-nav">
        <h4>General</h4>
        <ul>
          <li><a href="{{ '/sitemap.xml' | relative_url}}">Sitemap</a></li>
          <li><a href="{{ '/stats' | relative_url}}">Stats</a></li>
        </ul>
      </li>


      <li>
        <h4>Follow Us</h4>
        <div class="social-icons">
          <a class="facebook" href="https://facebook.com/#">{% include social-icon.html icon="Facebook2" %}</a>
          <a class="twitter" href="https://twitter.com/#">{% include social-icon.html icon="Twitter" %}</a>
          <a class="youtube" href="https://youtube.com/c/#">{% include social-icon.html icon="YouTube" %}</a>
        </div>
      </li>
    </ul>
    <p class="copyright">All Rights Reserved &copy; {{ site.time | date: '%Y' }} {{ site.storeName }}</p>
    <p class="copyright">Template by <a href="https://cloudcannon.com">CloudCannon</a></p>
  </div>
</footer>
