<header>
  <section class="hero">
    <a href="{{ '/' | relative_url }}">
      <div class="text-container">
        {% include social-icon.html icon="SiteLogo" %}
        <h2>{{ site.storeName }}</h2>
        <p>{{ site.subtitle }}</p>
      </div>
    </a>
  </section>
  <ul class="breadcrumb">
    <li><a href="{{ 'categories/eletronics/1' | relative_url }}">Eletronics</a></li>
    <li><a href="{{ 'categories/home/1' | relative_url }}">Home</a></li>
    <li><a href="{{ 'categories/health_care/1' | relative_url }}">Health & Care</a></li>
    <li><a href="{{ 'categories/pets/1' | relative_url }}">Pets</a></li>
    <li><a href="{{ 'categories/fashion/1' | relative_url }}">Fashion</a></li>
    <li><a href="{{ 'categories/toys_games/1' | relative_url }}">Toys & Games</a></li>
    <li><a href="{{ 'categories/sports/1' | relative_url }}">Sports</a></li>
    <li><a href="{{ 'categories/multimedia/1' | relative_url }}">Multimedia</a></li>
  </ul>
</header>
