<header>
  <section class="hero">
    <a href="{{ relative_url }}">
      <div class="text-container">
        {% include social-icon.html icon="SiteLogo" %}
        <h2>{{ site.storeName }}</h2>
        <p>{{ site.subtitle }}</p>
      </div>
    </a>
  </section>
  <ul class="breadcrumb">
    <li><a href="{{ 'categories/eletronics' | relative_url }}">Eletronics</a></li>
    <li><a href="{{ 'categories/home' | relative_url }}">Home</a></li>
    <li><a href="{{ 'categories/health_care' | relative_url }}">Health & Care</a></li>
    <li><a href="{{ 'categories/pets' | relative_url }}">Pets</a></li>
    <li><a href="{{ 'categories/fashion' | relative_url }}">Fashion</a></li>
    <li><a href="{{ 'categories/toys_games' | relative_url }}">Toys & Games</a></li>
    <li><a href="{{ 'categories/sports' | relative_url }}">Sports</a></li>
    <li><a href="{{ 'categories/multimedia' | relative_url }}">Multimedia</a></li>
  </ul>
</header>
