---
layout: default
---
<div class="content">
  <section class="page">
    <div class="container">
      <nav aria-label="breadcrumbs" class="current-category">
        <a href="{{ '/' | relative_url }}">Commercia</a>>
        {% for parent in page.path_to_this_category %}
        {% if forloop.last %}
        <a class="bold" href="{{ parent.url | relative_url }}">{{ parent.name }}</a>
        {% else %}
        <a href="{{ parent.url | relative_url }}">{{ parent.name }}</a> >
        {% endif %}
        {% endfor %}
      </nav>
      <div style="display: flex;">
        <div class="categories-sidebar">
          {% if page.leaf_category == false %}
          <p>Subcategories:</p>
          <ul>
          {% for child in page.child_categories %}
            <li><a href={{ child.url | relative_url}}>{{ child.name }}</li></a>
          {% endfor %}
          </ul>
          {% endif %}
        </div>

        <div class="products-display">
          {% for product in page.products %}
          <a href="/products/{{product.id}}" class="product-card">
            <img src="{{product.thumbnail}}"></img>
            <p>{{product.title}}</p>
            <p class="price">From: <b>${{product.price}}</b></p>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
</div>
