---
layout: default
---
<div class="content">
  <section class="page">
    <div class="container">
      <nav aria-label="breadcrumbs" class="current-category">
        <a href="{{ '/' | relative_url }}">Commercia</a>>
        {% for parent in page.path_to_this_category %}
        {% if forloop.last %}
        <a class="bold" href="{{ parent.url | append: '/1' | relative_url }}">{{ parent.name }}</a>
        {% else %}
        <a href="{{ parent.url | append: '/1' | relative_url }}">{{ parent.name }}</a> >
        {% endif %}
        {% endfor %}
        <br>
        {% assign lower_number = page.current_page | minus: 1 | times: 20 | plus: 1 %}
        <div style="padding: 13px;">Showing {{lower_number}} - {{lower_number | plus: page.products.size | minus: 1}} of {{page.total_products}} products</div>
      </nav>
      <div style="display: flex;">
        <div class="categories-sidebar">
          {% if page.leaf_category == false %}
          <p>Subcategories:</p>
          <ul>
          {% for child in page.child_categories %}
            <li><a href={{ child.url | append: '/1' | relative_url}}>{{ child.name }}</li></a>
          {% endfor %}
          </ul>
          {% endif %}
        </div>

        <div class="products-display">
          {% for product in page.products %}
          <a href="{{ product.id | prepend: 'products/' | relative_url }}" class="product-card">
            <img src="{{ product.thumbnail }}"></img>
            <p>{{product.title}}</p>
            <p class="price">From: <b>${{product.price}}</b></p>
          </a>
          {% endfor %}
          <div class="pagination">
            {% if page.previous_page != nil %}
            <a href="{{ page.previous_page | relative_url }}">&lt;</a>
            {% endif %}
            <a>{{ page.current_page }}</a>
            {% if page.next_page != nil %}
            <a href="{{ page.next_page | relative_url }}">&gt;</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
